// Agent view component
<template>
  <div>
    <!-- .header-navigation-bar -->
    <div v-if="mode=='first-use'" class="header-navigation-bar">
      <div class="navbar navbar-default navbar-static-top">
        <div class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#header-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">
                <img src="/images/logo/ZenEstateLogo.svg" alt="Logo"></img>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <router-link to="/search">Find agents</router-link>
                </li>
                <li>
                  <router-link to="/about">About</router-link>
                </li>
                <li>
                  <router-link to="/contactUs">Contact us</router-link>
                </li>
                <li v-if="mode=='read-only'">
                  <router-link to="/agentLogin">Are you an agent?</router-link>
                </li>
                <li v-if="mode!='read-only'">
                  <router-link v-bind:to="publicProfilePagePath">View my public profile</router-link>
                </li>
                <li v-if="mode!='read-only'">
                  <button class="button-default" v-on:click="signOut">Sign out</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .header-hero-unit -->
    <div v-if="mode=='view' || mode=='read-only' || mode=='edit-agent-fact'" class="header-hero-unit agent-hero-unit">
      <div class="dark-filter">
        <div class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#header-navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">
              <img src="/images/logo/ZenEstateLogo_white.svg" alt="Logo"></img>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <router-link to="/search">Find agents</router-link>
                </li>
                <li>
                  <router-link to="/about">About</router-link>
                </li>
                <li>
                  <router-link to="/contactUs">Contact us</router-link>
                </li>
                <li v-if="mode=='read-only'">
                  <router-link to="/agentLogin">Are you an agent?</router-link>
                </li>
                <li v-if="mode!='read-only'">
                  <router-link v-bind:to="publicProfilePagePath">View my public profile</router-link>
                </li>
                <li v-if="mode!='read-only'">
                  <button class="button-white" v-on:click="signOut">Sign out</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container contact-bar">
          <div class="col-lg-9 col-xs-11 col-lg-offset-2 agent-profile">
            <div class="agent-details">
              <span class="agent-name">{{ agent['first-name'] }} {{ agent['last-name'] }}</span><br />
              <span class="agent-job-title">{{ agent['job-title'] }}</span>
            </div>
            <a href="#contact-agent" class="button-white" v-if="mode==='read-only'">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;Contact
            </a>
          </div>
          <div class="col-xs-1 no-padding" v-if="mode!='read-only'">
            <div class="edit-button">
              <button class="button-white" v-on:click="editAgent">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .header-hero-unit -->
    <!-- .header-navigation-bar -->
    <div v-if="mode=='edit-agent'" class="header-navigation-bar">
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">
            <img src="/images/logo/ZenEstateLogo.svg" alt="Logo"></img>
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <router-link to="/search">Find agents</router-link>
              </li>
              <li>
                <router-link to="/contactUs">Contact us</router-link>
              </li>
              <li v-if="mode!='read-only'">
                <router-link v-bind:to="publicProfilePagePath">View my public profile</router-link>
              </li>
              <li v-if="mode!='read-only'">
                <button class="button-default" v-on:click="signOut">Sign out</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- .header-navigation-bar -->
    <!-- .agent-tile -->
    <div v-if="mode=='edit-agent'" class="container agent-tile">
      <div class="col-sm-6 col-sm-offset-3">
        <form id="edit-agent-form" method="post" action="#">
          <div class="form-group">
            <label class="control-label">Name</label>
            <div class="row">
              <div class="col-sm-6" v-bind:class="{ 'has-error': agentErrors['first-name'] }">
                <input type="text" class="form-control" id="input-agent-first-name" placeholder="First name"
                  name="first-name" v-model="inputAgent['first-name']">
                <span v-if="agentErrors['first-name']" class="help-block">
                {{ agentErrors['first-name'] }}
                </span>
              </div>
              <div class="col-sm-6 second-input" v-bind:class="{ 'has-error': agentErrors['last-name'] }">
                <input type="text" class="form-control" id="input-agent-last-name" placeholder="Last name"
                  name="last-name" v-model="inputAgent['last-name']">
                <span v-if="agentErrors['last-name']" class="help-block">
                {{ agentErrors['last-name'] }}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="input-agent-job-title" class="control-label">Job title</label>
            <input type="text" class="form-control" id="input-agent-job-title" placeholder="Job title"
              name="job-title" v-model="inputAgent['job-title']">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-9">
                <label for="input-agent-picture" class="control-label">Picture</label>
                <input type="file" id="input-agent-picture-file" name="picture-file"
                  v-on:change="onProfilePictureChange">
                <div v-if="agentErrors['picture-url']" class="has-error">
                  <span class="help-block">
                  {{ agentErrors['picture-url'] }}
                  </span>
                </div>
              </div>
              <div class="profile-picture-preview col-sm-3">
                <label for="input-agent-picture" class="control-label picture-label">Preview</label>
                <div v-if="profilePictureUrl" class="profile-picture-preview-circle">
                  <img id="picture-preview" v-bind:src="profilePictureUrl" alt="Profile picture" />
                </div>
                <div v-else class="circle"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="button-primary" v-on:click="saveAgent">Save</button>
            <button type="button" class="button-default" v-on:click="cancelEdition">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <!-- .agent-tile -->
    <!-- .agent-facts -->
    <div v-if="mode=='view' || mode=='read-only' || mode=='edit-agent-fact'" class="container agent-facts">
      <div class="agent-profile-picture col-lg-2">
        <div v-if="profilePictureUrl" class="agent-profile-picture-circle">
          <img v-bind:src="profilePictureUrl" alt="Profile picture" />
        </div>
        <div v-else class="circle"></div>
      </div>
      <div v-if="mode=='view' || mode=='read-only'" class="col-lg-2 service-type">
        <dropdown-view v-bind:options="['Sold', 'Bought', 'Rented out', 'Rented']" 
          v-bind:selectedIndex="service" v-on:updateIndex="updateService($event)">
        </dropdown-view>
      </div>
      <div v-if="mode=='view' || mode=='read-only'" class="col-lg-7 col-xs-11 facts">
        <div v-if="service===0" class="fact">
          <span class="fa fa-home" aria-hidden="true"></span><br />
          <span class="fact-title">Recently sold</span><br />
          <span class="fact-value">{{ recentSaleCount }}</span>
        </div>
        <div v-if="service===1" class="fact">
          <span class="fa fa-home" aria-hidden="true"></span><br />
          <span class="fact-title">Recently bought</span><br />
          <span class="fact-value">{{ recentBoughtCount }}</span>
        </div>
        <div v-if="service===2" class="fact">
          <span class="fa fa-home" aria-hidden="true"></span><br />
          <span class="fact-title">Recently rented out</span><br />
          <span class="fact-value">{{ recentRentalCount }}</span>
        </div>
        <div v-if="service===3" class="fact">
          <span class="fa fa-home" aria-hidden="true"></span><br />
          <span class="fact-title">Recently rented</span><br />
          <span class="fact-value">{{ recentRentedCount }}</span>
        </div>
        <div class="fact">
          <span class="fa fa-usd" aria-hidden="true"></span><br />
          <span v-if="service===0||service===1" class="fact-title">Transaction range</span>
          <span v-else class="fact-title">Monthly range</span><br />
          <span class="fact-value">{{ transactionRange }}</span>
        </div>
        <div v-if="service===0" class="fact">
          <span class="fa fa-clock-o" aria-hidden="true"></span><br />
          <span class="fact-title">Time to sell</span><br />
          <span class="fact-value">{{ timeToSell }}</span>
        </div>
        <div v-if="service===1" class="fact">
          <span class="fa fa-clock-o" aria-hidden="true"></span><br />
          <span class="fact-title">Time to buy</span><br />
          <span class="fact-value">{{ timeToSell }}</span>
        </div>
        <div v-if="service===2" class="fact">
          <span class="fa fa-clock-o" aria-hidden="true"></span><br />
          <span class="fact-title">Time to rent out</span><br />
          <span class="fact-value">{{ timeToRent }}</span>
        </div>
        <div v-if="service===3" class="fact">
          <span class="fa fa-clock-o" aria-hidden="true"></span><br />
          <span class="fact-title">Time to rent</span><br />
          <span class="fact-value">{{ timeToRent }}</span>
        </div>
        <div class="fact">
          <span class="fa fa-building" aria-hidden="true"></span><br />
          <span class="fact-title">Property types</span><br />
          <span class="fact-value">{{ getHandledPropertyTypes(this.agentFact) }}</span>
        </div>
        <div class="fact">
          <span class="fa fa-map-marker" aria-hidden="true"></span><br />
          <span class="fact-title">Singapore regions</span><br />
          <span class="fact-value">{{ getCoveredRegions(this.agentFact) }}</span>
        </div>
      </div>
      <div v-if="mode=='view'" class="col-xs-1 no-padding">
        <div class="edit-button">
          <button class="button-default" v-on:click="editAgentFact">Edit</button>
        </div>
      </div>
    </div>
    <!-- .agent-facts -->
    <!-- .agent-tile -->
    <div v-show="mode=='edit-agent-fact' || mode=='first-use'" class="container agent-tile" id="fact-edit">
      <div class="col-sm-6 col-sm-offset-3">
        <form id="edit-agent-fact-form" method="post" action="#">
          <p>
            Tell us about the property transactions you recently made so that you can rank higher in the search results.
          </p>
          <fieldset>
            <legend>Rental transactions (in the past 36 months)</legend>
            <div class="form-group">
              <label for="input-agent-fact-rental-count" class="control-label">
              Number of properties rented
              </label>
              <div class="row" v-bind:class="{ 'has-error': agentFactErrors['36-month-rental-count'] }">
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="input-agent-fact-rental-count" placeholder="0"
                    name="rental-count" v-model="inputAgentFact['36-month-rental-count']">
                </div>
                <span v-if="agentFactErrors['36-month-rental-count']" class="help-block">
                {{ agentFactErrors['36-month-rental-count'] }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="input-agent-fact-rented-count" class="control-label">
              Number of properties rented out
              </label>
              <div class="row" v-bind:class="{ 'has-error': agentFactErrors['36-month-rented-count'] }">
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="input-agent-fact-rented-count" placeholder="0"
                    name="rented-count" v-model="inputAgentFact['36-month-rented-count']">
                </div>
                <span v-if="agentFactErrors['36-month-rented-count']" class="help-block">
                {{ agentFactErrors['36-month-rented-count'] }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Rental transaction range</label>
              <div v-bind:class="{ 'has-error': agentFactErrors['minimum-rental-price'] }">
                <div class="agent-input-header">
                  From: 
                </div>
                <div class="input-group">
                  <span class="input-group-addon">$/month</span>
                  <input type="number" class="form-control" id="input-agent-fact-minimum-rental-price" 
                    placeholder="2000" name="minimum-rental-price" 
                    v-model="inputAgentFact['minimum-rental-price']">
                </div>
                <span v-if="agentFactErrors['minimum-rental-price']" class="help-block">
                {{ agentFactErrors['minimum-rental-price'] }}
                </span>
              </div>
              <div class="second-line" v-bind:class="{ 'has-error': agentFactErrors['maximum-rental-price'] }">
                <div class="agent-input-header">
                  To: 
                </div>
                <div class="input-group">
                  <span class="input-group-addon">$/month</span>
                  <input type="number" class="form-control" id="input-agent-fact-maximum-rental-price" 
                    placeholder="20000" name="maximum-rental-price"
                    v-model="inputAgentFact['maximum-rental-price']">
                </div>
                <span v-if="agentFactErrors['maximum-rental-price']" class="help-block">
                {{ agentFactErrors['maximum-rental-price'] }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Number of days taken to rent/rent out a property</label>
              <div v-bind:class="{ 'has-error': agentFactErrors['minimum-time-to-rent'] }">
                <div class="agent-input-header">
                  From: 
                </div>
                <div class="input-group">
                  <input type="number" class="form-control" id="input-agent-fact-minimum-time-to-rent" 
                    placeholder="10" name="minimum-time-to-rent"
                    v-model="inputAgentFact['minimum-time-to-rent']">
                  <span class="input-group-addon">days</span>
                </div>
                <span v-if="agentFactErrors['minimum-time-to-rent']" class="help-block">
                {{ agentFactErrors['minimum-time-to-rent'] }}
                </span>
              </div>
              <div class="second-line" v-bind:class="{ 'has-error': agentFactErrors['maximum-time-to-rent'] }">
                <div class="agent-input-header">
                  To: 
                </div>
                <div class="input-group">
                  <input type="number" class="form-control" id="input-agent-fact-maximum-time-to-rent" 
                    placeholder="100" name="maximum-time-to-rent"
                    v-model="inputAgentFact['maximum-time-to-rent']">
                  <span class="input-group-addon">days</span>
                </div>
                <span v-if="agentFactErrors['maximum-time-to-rent']" class="help-block">
                {{ agentFactErrors['maximum-time-to-rent'] }}
                </span>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Sale/purchase transactions (in the past 36 months)</legend>
            <div class="form-group">
              <label for="input-agent-fact-sale-count" class="control-label">
              Number of properties sold
              </label>
              <div class="row" v-bind:class="{ 'has-error': agentFactErrors['36-month-sale-count'] }">
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="input-agent-fact-sale-count"
                    placeholder="0" name="sale-count" v-model="inputAgentFact['36-month-sale-count']">
                </div>
                <span v-if="agentFactErrors['36-month-sale-count']" class="help-block">
                {{ agentFactErrors['36-month-sale-count'] }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="input-agent-fact-bought-count" class="control-label">
              Number of properties bought
              </label>
              <div class="row" v-bind:class="{ 'has-error': agentFactErrors['36-month-bought-count'] }">
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="input-agent-fact-bought-count"
                    placeholder="0" name="bought-count" 
                    v-model="inputAgentFact['36-month-bought-count']">
                </div>
                <span v-if="agentFactErrors['36-month-bought-count']" class="help-block">
                {{ agentFactErrors['36-month-bought-count'] }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Sale/purchase transaction range</label>
              <div v-bind:class="{ 'has-error': agentFactErrors['minimum-sale-price'] }">
                <div class="agent-input-header">
                  From: 
                </div>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" id="input-agent-fact-minimum-sale-price" 
                    placeholder="100000" name="minimum-sale-price" 
                    v-model="inputAgentFact['minimum-sale-price']">
                </div>
                <span v-if="agentFactErrors['minimum-sale-price']" class="help-block">
                {{ agentFactErrors['minimum-sale-price'] }}
                </span>
              </div>
              <div class="second-line" v-bind:class="{ 'has-error': agentFactErrors['maximum-sale-price'] }">
                <div class="agent-input-header">
                  To: 
                </div>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" id="input-agent-fact-maximum-sale-price" 
                    placeholder="1000000" name="maximum-sale-price"
                    v-model="inputAgentFact['maximum-sale-price']">
                </div>
                <span v-if="agentFactErrors['maximum-sale-price']" class="help-block">
                {{ agentFactErrors['maximum-sale-price'] }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">
              Number of days taken to sell/buy a property
              </label>
              <div v-bind:class="{ 'has-error': agentFactErrors['minimum-time-to-sell'] }">
                <div class="agent-input-header">
                  From: 
                </div>
                <div class="input-group">
                  <input type="number" class="form-control" id="input-agent-fact-minimum-time-to-sell" 
                    placeholder="10" name="minimum-time-to-sell"
                    v-model="inputAgentFact['minimum-time-to-sell']">
                  <span class="input-group-addon">days</span>
                </div>
                <span v-if="agentFactErrors['minimum-time-to-sell']" class="help-block">
                {{ agentFactErrors['minimum-time-to-sell'] }}
                </span>
              </div>
              <div class="second-line" v-bind:class="{ 'has-error': agentFactErrors['maximum-time-to-sell'] }">
                <div class="agent-input-header">
                  To: 
                </div>
                <div class="input-group">
                  <input type="number" class="form-control" id="input-agent-fact-maximum-time-to-sell" 
                    placeholder="100" name="maximum-time-to-sell"
                    v-model="inputAgentFact['maximum-time-to-sell']">
                  <span class="input-group-addon">days</span>
                </div>
                <span v-if="agentFactErrors['maximum-time-to-sell']" class="help-block">
                {{ agentFactErrors['maximum-time-to-sell'] }}
                </span>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Property types and regions</legend>
            <div class="form-group">
              <label class="control-label">Property types you work with</label>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-hdb"
                  v-model="inputAgentFact['handles-hdb']">
                HDB
                </label>
              </div>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-condos"
                  v-model="inputAgentFact['handles-condos']">
                Condos
                </label>
              </div>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-landed-houses"
                  v-model="inputAgentFact['handles-landed-houses']">
                Landed houses
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Regions of Singapore you work in</label>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-central" value="singapore-regions"
                  v-model="inputAgentFact['covers-central']">
                Central
                </label>
              </div>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-east" value="singapore-regions"
                  v-model="inputAgentFact['covers-east']">
                East
                </label>
              </div>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-west" value="singapore-regions"
                  v-model="inputAgentFact['covers-west']">
                West
                </label>
              </div>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-north" value="singapore-regions"
                  v-model="inputAgentFact['covers-north']">
                North
                </label>
              </div>
              <div class="checkbox">
                <label>
                <input type="checkbox" id="input-agent-fact-north-east" value="singapore-regions"
                  v-model="inputAgentFact['covers-north-east']">
                North-East
                </label>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="button-primary" v-on:click="saveAgentFact">Save</button>
              <button type="button" class="button-default" v-on:click="cancelEdition">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <!-- .agent-tile -->
  </div>
</template>

<script>
import agentFactMixin from '~/lib/agent-fact-mixin';
import DropdownView from '~/components/DropdownView';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Mixins
  mixins: [agentFactMixin],

  // Components
  components: {
    DropdownView
  },

  // Props
  props: {
    'username': String,
    'auth0UserId': String,
    'email': String,
    'firstName': String,
    'lastName': String,
    'ceaLicenseNumber': String,
    'isReadOnly': Boolean,
    'isFirstUse': Boolean,
    'service': {
      type: Number,
      default: 0
    }
  },

  // Data
  data: function() {
    var mode;
    if (this.isReadOnly)
      mode = 'read-only';
    else if (this.isFirstUse)
      mode = 'first-use';
    else
      mode = 'view';
    return {
      agent: {
        username: this.username,
        'auth0-user-id': this.auth0UserId,
        'first-name': this.firstName,
        'last-name': this.lastName,
        'email-address': this.email,
        'registration-number': this.ceaLicenseNumber,
        'job-title': 'Real Estate Agent',
        'country': 'Singapore'
      },
      agentErrors: undefined,
      agentFact: {
        username: this.username,
        'auth0-user-id': this.auth0UserId
      },
      agentFactErrors: {
        '36-month-rental-count': undefined,
        '36-month-sale-count': undefined,
        '36-month-bought-count': undefined,
        '36-month-rented-count': undefined,
        'minimum-rental-price': undefined,
        'maximum-rental-price': undefined,
        'minimum-sale-price': undefined,
        'maximum-sale-price': undefined,
        'minimum-time-to-rent': undefined,
        'maximum-time-to-rent': undefined,
        'minimum-time-to-sell': undefined,
        'maximum-time-to-sell': undefined
      },
      axiosAirlisting: getAxiosAirlisting(this.$router),
      localPicture: undefined,
      localPictureFile: undefined,
      localPictureFileName: undefined,
      localPictureImage: undefined,
      inputAgent: {},
      inputAgentFact: {},
      mode: mode
    };
  },

  // Computed data
  computed: {
    // Return the profile picture
    profilePictureUrl: function() {
      // Return the local picture if one has been uploaded
      if (undefined !== this.localPicture)
        return this.localPicture;

      // Return the picture url of the agent
      return this.agent['picture-url'];
    },

    // Return the recent rental count
    recentRentalCount: function() {
      // Check if the facts of the agent have been downloaded
      var rentalCount = this.agentFact['36-month-rental-count'];
      if (undefined === rentalCount)
        return "";

      // Return unknown if the rental count has not been defined
      if (null === rentalCount)
        return "unknown";

      // Return the recent rental count
      return rentalCount;
    },

    // Return the recent sale count
    recentSaleCount: function() {
      // Check if the facts of the agent have been downloaded
      var saleCount = this.agentFact['36-month-sale-count'];
      if (undefined === saleCount)
        return "";

      // Return unknown if the sale count has not been defined
      if (null === saleCount)
        return "unknown";

      // Return the recent sale count
      return saleCount;
    },

    // Return the number of properties recently bought
    recentBoughtCount: function() {
      // Check if the facts of the agent have been downloaded
      var boughtCount = this.agentFact['36-month-bought-count'];
      if (undefined === boughtCount)
        return "";

      // Return the number of properties recently bought
      return boughtCount;
    },

    // Return the number of properties recently rented
    recentRentedCount: function() {
      // Check if the facts of the agent have been downloaded
      var rentedCount = this.agentFact['36-month-rented-count'];
      if (undefined === rentedCount)
        return "";

      // Return the number of properties recently rented
      return rentedCount;
    },

    // Return the transaction range
    transactionRange: function() {
      // Check if the facts of the agent have been downloaded
      var isSaleTransaction = (this.service === 0) || (this.service === 1);
      var minimumTransactionPrice = isSaleTransaction
        ? this.agentFact['minimum-sale-price']
        : this.agentFact['minimum-rental-price'];
      var maximumTransactionPrice = isSaleTransaction
        ? this.agentFact['maximum-sale-price']
        : this.agentFact['maximum-rental-price'];
      if ((undefined === minimumTransactionPrice) || (undefined === maximumTransactionPrice))
        return "";

      // Check if the transaction range is known
      if ((0 >= minimumTransactionPrice) || (0 >= maximumTransactionPrice))
        return "unknown";

      // Return the transaction range
      return "$" + this.toShortNumber(minimumTransactionPrice) +
        " - $" + this.toShortNumber(maximumTransactionPrice);
    },

    // Return the time to rent
    timeToRent: function() {
      // Check if the facts of the agent have been downloaded
      var minimumTimeToRent = this.agentFact['minimum-time-to-rent'];
      var maximumTimeToRent = this.agentFact['maximum-time-to-rent'];
      if ((undefined === minimumTimeToRent) || (undefined === maximumTimeToRent))
        return "";

      // Check if the time to rent range is known
      if ((0 >= minimumTimeToRent) || (0 >= maximumTimeToRent))
        return "unknown";

      // Return the time to rent range
      return this.toShortDuration(minimumTimeToRent) + " - " + this.toShortDuration(maximumTimeToRent);
    },

    // Return the time to sell
    timeToSell: function() {
      // Check if the facts of the agent have been downloaded
      var minimumTimeToSell = this.agentFact['minimum-time-to-sell'];
      var maximumTimeToSell = this.agentFact['maximum-time-to-sell'];
      if ((undefined === minimumTimeToSell) || (undefined === maximumTimeToSell))
        return "";

      // Check if the time to sell range is known
      if ((0 >= minimumTimeToSell) || (0 >= maximumTimeToSell))
        return "unknown";

      // Return the time to sell range
      return this.toShortDuration(minimumTimeToSell) + " - " + this.toShortDuration(maximumTimeToSell);
    },

    // Return the public profile page path
    publicProfilePagePath: function() {
      return '/a/' + this.agent['username'].replace('_', '-');
    }
  },

  // Watch
  watch: {
    // Update the agent fact
    'auth0UserId': function(value) {
      this.retrieveAgentFact();
    }
  },

  // Retrieve the data
  created: function() {
    // Move the page to the fact editing for the first use
    if ('first-use' === this.mode) {
      this.$router.push({
        path: 'profile#fact-edit',
        query: this.$route.query
      })
    }

    // Retrieve the data
    this.retrieveAgent();
    this.retrieveAgentFact();
  },

  // Methods
  methods: {
    // Retrieve the agent
    retrieveAgent: function() {
      // Retrieve the profile
      var self = this;
      this.axiosAirlisting.get('/agent?username=' + this.username)
        .then(function(response) {
          self.agent = response.data[0];
        })
        .catch(function(error) {
          // Create the profile if it does not exist
          if ((undefined !== error.response) && (404 === error.response.status) && !self.isReadyOnly) {
            self.axiosAirlisting.post('/agent', self.agent)
              .then(function(postResponse) {
                self.agent = postResponse.data;
              })
              .catch(function(postError) {
                captureException(postError);
              });
          } else
            captureException(error);
        });
    },

    // Retrieves the facts of the agent
    retrieveAgentFact: function() {
      // Check that the Auth0 user id has been defined
      if (undefined === this.auth0UserId)
        return;

      // Retrieve the agent facts
      var self = this;
      this.axiosAirlisting.get('/agentFact?auth0UserId=' + encodeURIComponent(this.auth0UserId))
        .then(function(response) {
          self.agentFact = response.data[0];
          if ('first-use' === self.mode) {
            self.editAgentFact();
          }
        })
        .catch(function(error) {
          // Create the agent facts if it does not exist
          if ((undefined !== error.response) && (404 === error.response.status) && !self.isReadOnly) {
            self.agentFact['covers-central'] = true;
            self.agentFact['covers-east'] = true;
            self.agentFact['covers-west'] = true;
            self.agentFact['covers-north'] = true;
            self.agentFact['covers-north-east'] = true;
            self.agentFact['handles-condos'] = true;
            self.agentFact['handles-hdb'] = true;
            self.agentFact['handles-landed-houses'] = true;
            self.axiosAirlisting.post('/agentFact', self.agentFact)
              .then(function(postResponse) {
                self.agentFact = postResponse.data;
                if ('first-use' === self.mode) {
                  self.editAgentFact();
                }
              })
              .catch(function(postError) {
                captureException(postError);
              });
          } else
            captureException(error);
        });
    },

    // Edit the agent
    editAgent: function() {
      this.inputAgent['first-name'] = this.agent['first-name'];
      this.inputAgent['last-name'] = this.agent['last-name'];
      this.inputAgent['job-title'] = this.agent['job-title'];
      this.inputAgent['picture-url'] = this.agent['picture-url'];
      this.agentErrors = {
        'first-name': undefined,
        'last-name': undefined,
        'job-title': undefined,
        'picture-url': undefined
      };
      this.mode = 'edit-agent';
    },

    // Validate the agent values
    validateInputAgent: function() {
      // Initialize the isValid flag
      var isValid = true;

      // Validate the first name
      if (this.inputAgent['first-name'] === undefined || this.inputAgent['first-name'].trim() === '') {
        isValid = false;
        this.agentErrors['first-name'] = "The first name cannot be empty.";
      }

      // Validate the last name
      if (this.inputAgent['last-name'] === undefined || this.inputAgent['last-name'].trim() === '') {
        isValid = false;
        this.agentErrors['last-name'] = "The last name cannot be empty.";
      }

      // Validate the local picture
      if (undefined !== this.localPictureImage) {
        var width = this.localPictureImage.naturalWidth || this.localPictureImage.width;
        var height = this.localPictureImage.naturalHeight || this.localPictureImage.height;
        if ((width < 200) || (height < 200)) {
          isValid = false;
          this.agentErrors['picture-url'] = "The width and the height of the image must be" +
            " at least 200 pixels. Please upload a different image.";
        }
      }

      // Return the isValid flag
      return isValid;
    },

    // Save the agent
    saveAgent: function() {
      // Validate the values
      if (!this.validateInputAgent())
        return;

      // Update the agent
      this.agent['first-name'] = this.inputAgent['first-name'];
      this.agent['last-name'] = this.inputAgent['last-name'];
      this.agent['job-title'] = this.inputAgent['job-title'];
      this.mode = 'view';

      // Save the agent
      var self = this;
      this.axiosAirlisting.put('/agent/' + this.agent['id'], this.agent)
        .then(function(putResponse) {
          self.agent = putResponse.data;
          self.saveProfilePicture();
        })
        .catch(function(putError) {
          captureException(putError);
        });
    },

    // Save the profile picture
    saveProfilePicture: function() {
      // Check that we have a local picture
      if (undefined === this.localPicture)
        return;

      // Save the profile picture
      var self = this;
      var formData = new FormData();
      formData.append("image", this.localPictureFile, this.localPictureFileName);
      this.axiosAirlisting.post(
        '/agent/' + this.agent['id'] + '/uploadProfilePicture',
        formData)
        .then(function(postResponse) {
          self.agent = postResponse.data;
          self.localPicture = undefined;
          self.localPictureFile = undefined;
          self.localPictureFileName = undefined;
          self.localPictureImage = undefined;
        })
        .catch(function(postError) {
          captureException(postError);
        });
    },

    // Edit the agent facts
    editAgentFact: function() {
      this.inputAgentFact['36-month-rental-count'] = this.agentFact['36-month-rental-count'];
      this.inputAgentFact['36-month-sale-count'] = this.agentFact['36-month-sale-count'];
      this.inputAgentFact['36-month-bought-count'] = this.agentFact['36-month-bought-count'];
      this.inputAgentFact['36-month-rented-count'] = this.agentFact['36-month-rented-count'];
      this.inputAgentFact['minimum-rental-price'] = this.agentFact['minimum-rental-price'];
      this.inputAgentFact['maximum-rental-price'] = this.agentFact['maximum-rental-price'];
      this.inputAgentFact['minimum-sale-price'] = this.agentFact['minimum-sale-price'];
      this.inputAgentFact['maximum-sale-price'] = this.agentFact['maximum-sale-price'];
      this.inputAgentFact['minimum-time-to-rent'] = this.agentFact['minimum-time-to-rent'];
      this.inputAgentFact['maximum-time-to-rent'] = this.agentFact['maximum-time-to-rent'];
      this.inputAgentFact['minimum-time-to-sell'] = this.agentFact['minimum-time-to-sell'];
      this.inputAgentFact['maximum-time-to-sell'] = this.agentFact['maximum-time-to-sell'];
      this.inputAgentFact['handles-hdb'] = this.agentFact['handles-hdb'];
      this.inputAgentFact['handles-condos'] = this.agentFact['handles-condos'];
      this.inputAgentFact['handles-landed-houses'] = this.agentFact['handles-landed-houses'];
      this.inputAgentFact['covers-central'] = this.agentFact['covers-central'];
      this.inputAgentFact['covers-east'] = this.agentFact['covers-east'];
      this.inputAgentFact['covers-west'] = this.agentFact['covers-west'];
      this.inputAgentFact['covers-north'] = this.agentFact['covers-north'];
      this.inputAgentFact['covers-north-east'] = this.agentFact['covers-north-east'];
      this.agentFactErrors = {
        '36-month-rental-count': undefined,
        '36-month-sale-count': undefined,
        '36-month-bought-count': undefined,
        '36-month-rented-count': undefined,
        'minimum-rental-price': undefined,
        'maximum-rental-price': undefined,
        'minimum-sale-price': undefined,
        'maximum-sale-price': undefined,
        'minimum-time-to-rent': undefined,
        'maximum-time-to-rent': undefined,
        'minimum-time-to-sell': undefined,
        'maximum-time-to-sell': undefined
      };
      if ('first-use' !== this.mode)
        this.mode = 'edit-agent-fact';
    },

    // Validate a number
    getNumberValidationMessage: function(name, value, min, max) {
      // Verify that the value exists
      if (undefined === value)
        return "The " + name + " must be defined.";

      // Verify that the value is a number
      if (isNaN(value))
        return "The " + name + " must be a number.";

      // Verify the range of the value
      if ((value < min) || (value > max))
        return "The " + name + " must be between " + min + " and " + max + ".";

      // Return undefined if there is no error
      return undefined;
    },

    // Validate a pair of numbers
    getNumberPairValidationMessage: function(name, minValue, maxValue) {
      // Verify that the values are numbers
      if (isNaN(minValue) || isNaN(maxValue))
        return undefined;

      // Verify the pair of numbers
      if (minValue > maxValue)
        return "The maximum " + name + " must be larger than the minimum " + name + ".";

      // Return undefined if there is no error
      return undefined;
    },

    // Validate the agent fact values
    validateInputAgentFact: function() {
      // Validate the numbers
      this.agentFactErrors['36-month-rental-count'] = this.getNumberValidationMessage(
        "number of properties rented out",
        this.inputAgentFact['36-month-rental-count'],
        0,
        9999);
      this.agentFactErrors['36-month-sale-count'] = this.getNumberValidationMessage(
        "number of properties sold",
        this.inputAgentFact['36-month-sale-count'],
        0,
        999);
      this.agentFactErrors['36-month-rented-count'] = this.getNumberValidationMessage(
        "number of properties rented",
        this.inputAgentFact['36-month-rented-count'],
        0,
        9999);
      this.agentFactErrors['36-month-bought-count'] = this.getNumberValidationMessage(
        "number of properties bought",
        this.inputAgentFact['36-month-bought-count'],
        0,
        999);
      this.agentFactErrors['minimum-rental-price'] = this.getNumberValidationMessage(
        "minimum rental price",
        this.inputAgentFact['minimum-rental-price'],
        0,
        999999);
      this.agentFactErrors['maximum-rental-price'] = this.getNumberValidationMessage(
        "maximum rental price",
        this.inputAgentFact['maximum-rental-price'],
        0,
        999999);
      this.agentFactErrors['minimum-sale-price'] = this.getNumberValidationMessage(
        "minimum sale price",
        this.inputAgentFact['minimum-sale-price'],
        0,
        999999999);
      this.agentFactErrors['maximum-sale-price'] = this.getNumberValidationMessage(
        "maximum sale price",
        this.inputAgentFact['maximum-sale-price'],
        0,
        999999999);
      this.agentFactErrors['minimum-time-to-rent'] = this.getNumberValidationMessage(
        "minimum time to rent",
        this.inputAgentFact['minimum-time-to-rent'],
        0,
        9999);
      this.agentFactErrors['maximum-time-to-rent'] = this.getNumberValidationMessage(
        "maximum time to rent",
        this.inputAgentFact['maximum-time-to-rent'],
        0,
        9999);
      this.agentFactErrors['minimum-time-to-sell'] = this.getNumberValidationMessage(
        "minimum time to sell",
        this.inputAgentFact['minimum-time-to-sell'],
        0,
        9999);
      this.agentFactErrors['maximum-time-to-sell'] = this.getNumberValidationMessage(
        "maximum time to sell",
        this.inputAgentFact['maximum-time-to-sell'],
        0,
        9999);

      // Validate the pairs of numbers
      if (undefined === this.agentFactErrors['maximum-rental-price'])
        this.agentFactErrors['maximum-rental-price'] = this.getNumberPairValidationMessage(
          "rental price",
          this.inputAgentFact['minimum-rental-price'],
          this.inputAgentFact['maximum-rental-price']);
      if (undefined === this.agentFactErrors['maximum-sell-price'])
        this.agentFactErrors['maximum-sell-price'] = this.getNumberPairValidationMessage(
          "sell price",
          this.inputAgentFact['minimum-sell-price'],
          this.inputAgentFact['maximum-sell-price']);
      if (undefined === this.agentFactErrors['maximum-time-to-rent'])
        this.agentFactErrors['maximum-time-to-rent'] = this.getNumberPairValidationMessage(
          "time to rent",
          this.inputAgentFact['minimum-time-to-rent'],
          this.inputAgentFact['maximum-time-to-rent']);
      if (undefined === this.agentFactErrors['maximum-time-to-sell'])
        this.agentFactErrors['maximum-time-to-sell'] = this.getNumberPairValidationMessage(
          "time to sell",
          this.inputAgentFact['minimum-time-to-sell'],
          this.inputAgentFact['maximum-time-to-sell']);

      // Check if there is one error message
      var isValid = true;
      for (var key in this.agentFactErrors) {
        if (this.agentFactErrors.hasOwnProperty(key) && this.agentFactErrors[key] !== undefined)
          isValid = false;
      }

      // Return the isValid flag
      return isValid;
    },

    // Save the agent facts
    saveAgentFact: function() {
      // Validate the values
      if (!this.validateInputAgentFact())
        return;

      // Update the agent facts
      this.agentFact['36-month-rental-count'] = this.inputAgentFact['36-month-rental-count'];
      this.agentFact['36-month-sale-count'] = this.inputAgentFact['36-month-sale-count'];
      this.agentFact['36-month-bought-count'] = this.inputAgentFact['36-month-bought-count'];
      this.agentFact['36-month-rented-count'] = this.inputAgentFact['36-month-rented-count'];
      this.agentFact['minimum-rental-price'] = this.inputAgentFact['minimum-rental-price'];
      this.agentFact['maximum-rental-price'] = this.inputAgentFact['maximum-rental-price'];
      this.agentFact['minimum-sale-price'] = this.inputAgentFact['minimum-sale-price'];
      this.agentFact['maximum-sale-price'] = this.inputAgentFact['maximum-sale-price'];
      this.agentFact['minimum-time-to-rent'] = this.inputAgentFact['minimum-time-to-rent'];
      this.agentFact['maximum-time-to-rent'] = this.inputAgentFact['maximum-time-to-rent'];
      this.agentFact['minimum-time-to-sell'] = this.inputAgentFact['minimum-time-to-sell'];
      this.agentFact['maximum-time-to-sell'] = this.inputAgentFact['maximum-time-to-sell'];
      this.agentFact['handles-hdb'] = this.inputAgentFact['handles-hdb'];
      this.agentFact['handles-condos'] = this.inputAgentFact['handles-condos'];
      this.agentFact['handles-landed-houses'] = this.inputAgentFact['handles-landed-houses'];
      this.agentFact['covers-central'] = this.inputAgentFact['covers-central'];
      this.agentFact['covers-east'] = this.inputAgentFact['covers-east'];
      this.agentFact['covers-west'] = this.inputAgentFact['covers-west'];
      this.agentFact['covers-north'] = this.inputAgentFact['covers-north'];
      this.agentFact['covers-north-east'] = this.inputAgentFact['covers-north-east'];
      this.mode = 'view';

      // Save the agent facts
      var self = this;
      this.axiosAirlisting.put('/agentFact/' + this.agentFact['id'], this.agentFact)
        .then(function(postResponse) {
          self.agentFact = postResponse.data;
        })
        .catch(function(postError) {
          captureException(postError);
        });

      // Remove the first use flag
      if (this.isFirstUse) {
        this.$router.push({
          query: this.getUrlParameters()
        });
      }
    },

    // Cancel the edition
    cancelEdition: function() {
      // Remove the first use flag
      if (this.isFirstUse) {
        this.$router.push({
          query: this.getUrlParameters()
        });
      }

      // Set the mode to view
      this.mode = 'view';
      this.localPicture = undefined;
      this.localPictureFile = undefined;
      this.localPictureFileName = undefined;
      this.localPictureImage = undefined;
    },

    // Update the profile picture based on the file,
    onProfilePictureChange: function(event) {
      // Retrieve the files
      var files = event.target.files || event.dataTransfer.files;
      if (!files.length)
        return;

      // Set the file name
      var self = this;
      var reader = new FileReader();
      reader.onload = function(e) {
        self.localPicture = e.target.result;
        self.localPictureFile = files[0];
        self.localPictureFileName = files[0].name;
        self.localPictureImage = document.createElement("img");
        self.localPictureImage.src = e.target.result;
      };

      // Read the image file as a data URL
      reader.readAsDataURL(files[0]);
    },

    // Emit a sign out event
    signOut: function() {
      this.$emit('signOut');
    },

    // Retrieve the URL parameters
    getUrlParameters: function() {
      // Retrieve the parameters
      var parameters = {};
      for (var key in this.$route.query) {
        if ('firstUse' !== key)
          parameters[key] = this.$route.query[key];
      }

      // Return the parameters
      return parameters;
    },

    // Update the service type
    updateService: function(index) {
      // Build the new parameters
      var parameters = this.getUrlParameters();
      parameters['service'] = index.toString();

      // Update the parameters
      this.$router.push({
        query: parameters
      });
    }
  }
}
</script>
