<template>
  <div>
    <!-- navigation-bar-view -->
    <navigation-bar-view v-bind:isWhiteText="false" />
    <!-- navigation-bar-view -->

    <!-- .container -->
    <div class="container">
      <div class="col-sm-offset-3 col-sm-6 white-background">
        <h1>Terms and conditions of use</h1>
        <ol>
          <li>
            <b>Introduction</b>
            <ol>
              <li>
                <p>These terms and conditions shall govern your use of our website, ZenEstate.sg.</p>
              </li>
              <li>
                <p>By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these
                  terms and conditions or any part of these terms and conditions, you must not use our website.</p>
              </li>
              <li>
                <p>If you register with our website, we will ask you to expressly agree to these terms and conditions.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Credit</b>
            <ol>
              <li>
                <p>This document was created using a template from SEQ Legal (<a href="http://www.seqlegal.com">http://www.seqlegal.com</a>).</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Copyright notice</b>
            <ol>
              <li>
                <p>Copyright (c) <i>2017 ZenEstate</i>.</p>
              </li>
              <li>
                <p>Subject to the express provisions of these terms and conditions:
                  <ol type="a">
                    <li>we, together with our licensors, own and control all the copyright and other intellectual property rights
                      in our website and the material on our website; and</li>
                    <li>all the copyright and other intellectual property rights in our website and the material on our website
                      are reserved.</li>
                  </ol>
                </p>
              </li>
            </ol>
          </li>
          <li>
            <b>Licence to use website</b>
            <ol>
              <li>
                <p>You may:
                  <ol type="a">
                    <li>view pages from our website in a web browser;</li>
                    <li>download pages from our website for caching in a web browser;</li>
                    <li>print pages from our website; and/or</li>
                    <li>upload images to our website</li>
                  </ol>
                  subject to the other provisions of these terms and conditions.
                </p>
              </li>
              <li>
                <p>Except as expressly permitted by Section 4.1 or the other provisions of these terms and conditions, you must
                  not download any material from our website or save any such material to your computer.</p>
              </li>
              <li>
                <p>Unless you own or control the relevant rights in the material, you must not:
                  <ol type="a">
                    <li>(a)republish material from our website (including republication on another website);</li>
                    <li>(b)sell, rent or sub-license material from our website;</li>
                    <li>(c)show any material from our website in public;</li>
                    <li>(d)exploit material from our website for a commercial purpose; or</li>
                    <li>(e)redistribute material from our website.</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion;
                  you must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on
                  our website.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Acceptable use</b>
            <ol>
              <li>
                <p>You must not:
                  <ol type="a">
                    <li>use our website in any way or take any action that causes, or may cause, damage to the website or impairment
                      of the performance, availability or accessibility of the website;</li>
                    <li>use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful,
                      illegal, fraudulent or harmful purpose or activity;</li>
                    <li>use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists
                      of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other
                      malicious computer software;</li>
                    <li>conduct any systematic or automated data collection activities (including without limitation scraping, data
                      mining, data extraction and data harvesting) on or in relation to our website without our express written
                      consent;
                    </li>
                    <li>access or otherwise interact with our website using any robot, spider or other automated means, except for
                      the purpose of search engine indexing;</li>
                    <li>violate the directives set out in the robots.txt file for our website; or</li>
                    <li>use data collected from our website for any direct marketing activity (including without limitation email
                      marketing, SMS marketing, telemarketing and direct mailing).</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>You must not use data collected from our website to contact individuals, companies or other persons or entities.</p>
              </li>
              <li>
                <p>You must ensure that all the information you supply to us through our website, or in relation to our website,
                  is true, accurate, current, complete and non-misleading.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Registration and accounts</b>
            <ol>
              <li>
                <p>To be eligible for an account on our website under this Section 6, you must be resident or situated in Singapore.</p>
              </li>
              <li>
                <p>You may register for an account with our website by completing and submitting the account registration form
                  on our website.</p>
              </li>
              <li>
                <p>You must not allow any other person to use your account to access the website.</p>
              </li>
              <li>
                <p>You must notify us in writing immediately if you become aware of any unauthorised use of your account.</p>
              </li>
              <li>
                <p>You must not use any other person's account to access the website, unless you have that person's express permission
                  to do so.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>User login details</b>
            <ol>
              <li>
                <p>If you register for an account with our website, you will be asked to choose a username and password.</p>
              </li>
              <li>
                <p>Your username must not be liable to mislead and must comply with the content rules set out in Section 10; you
                  must not use your account or username for or in connection with the impersonation of any person.</p>
              </li>
              <li>
                <p>You must keep your password confidential.</p>
              </li>
              <li>
                <p>You must notify us in writing immediately if you become aware of any disclosure of your password.</p>
              </li>
              <li>
                <p>You are responsible for any activity on our website arising out of any failure to keep your password confidential,
                  and may be held liable for any losses arising out of such a failure.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Cancellation and suspension of account</b>
            <ol>
              <li>
                <p>We may:
                  <ol type="a">
                    <li>suspend your account;</li>
                    <li>cancel your account; and/or</li>
                    <li>edit your account details,</li>
                  </ol>
                  at any time in our sole discretion without notice or explanation.
                </p>
              </li>
              <li>
                <p>You may cancel your account on our website using the contact form on our website.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Your content: licence</b>
            <ol>
              <li>
                <p>In these terms and conditions, "your content" means all works and materials (including without limitation text,
                  graphics, images, audio material, video material, audio-visual material, scripts, software and files) that
                  you submit to us or our website for storage or publication on, processing by, or transmission via, our website.</p>
              </li>
              <li>
                <p>You grant to us a worldwide, irrevocable, non-exclusive, royalty-free licence to use, reproduce, store, adapt,
                  publish, translate and distribute your content in any existing or future media</p>
              </li>
              <li>
                <p>You grant to us the right to sub-license the rights licensed under Section 9.2.</p>
              </li>
              <li>
                <p>You grant to us the right to bring an action for infringement of the rights licensed under Section 9.2.</p>
              </li>
              <li>
                <p>You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and
                  you warrant and represent that all other moral rights in your content have been waived to the maximum extent
                  permitted by applicable law.</p>
              </li>
              <li>
                <p>You may edit your content to the extent permitted using the editing functionality made available on our website.</p>
              </li>
              <li>
                <p>Without prejudice to our other rights under these terms and conditions, if you breach any provision of these
                  terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions
                  in any way, we may delete, unpublish or edit any or all of your content.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Limitations and exclusions of liability</b>
            <ol>
              <li>
                <p>Nothing in these terms and conditions will:
                  <ol type="a">
                    <li>limit or exclude any liability for death or personal injury resulting from negligence;</li>
                    <li>limit or exclude any liability for fraud or fraudulent misrepresentation;</li>
                    <li>limit any liabilities in any way that is not permitted under applicable law; or</li>
                    <li>exclude any liabilities that may not be excluded under applicable law.</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>The limitations and exclusions of liability set out in this Section 12 and elsewhere in these terms and conditions:
                  <ol type="a">
                    <li>are subject to Section 12.1; and</li>
                    <li>govern all liabilities arising under these terms and conditions or relating to the subject matter of these
                      terms and conditions, including liabilities arising in contract, in tort (including negligence) and for
                      breach of statutory duty, except to the extent expressly provided otherwise in these terms and conditions.</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>To the extent that our website and the information and services on our website are provided free of charge,
                  we will not be liable for any loss or damage of any nature.</p>
              </li>
              <li>
                <p>We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable
                  control.
                </p>
              </li>
              <li>
                <p>We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage
                  to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities
                  or goodwill.</p>
              </li>
              <li>
                <p>We will not be liable to you in respect of any loss or corruption of any data, database or software.</p>
              </li>
              <li>
                <p>We will not be liable to you in respect of any special, indirect or consequential loss or damage.</p>
              </li>
              <li>
                <p>You accept that we have an interest in limiting the personal liability of our officers and employees and, having
                  regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will
                  not bring any claim personally against our officers or employees in respect of any losses you suffer in connection
                  with the website or these terms and conditions (this will not, of course, limit or exclude the liability
                  of the limited liability entity itself for the acts and omissions of our officers and employees).</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Breaches of these terms and conditions</b>
            <ol>
              <li>
                <p>Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions
                  in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we
                  may:
                  <ol type="a">
                    <li>send you one or more formal warnings;</li>
                    <li>temporarily suspend your access to our website;</li>
                    <li>permanently prohibit you from accessing our website;</li>
                    <li>block computers using your IP address from accessing our website;</li>
                    <li>commence legal action against you, whether for breach of contract or otherwise; and/or</li>
                    <li>suspend or delete your account on our website.</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>Where we suspend or prohibit or block your access to our website or a part of our website, you must not take
                  any action to circumvent such suspension or prohibition or blocking (including without limitation creating
                  and/or using a different account).</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Variation</b>
            <ol>
              <li>
                <p>We may revise these terms and conditions from time to time.</p>
              </li>
              <li>
                <p>We will give you written notice of any revision of these terms and conditions, and the revised terms and conditions
                  will apply to the use of our website from the date that we give you such notice; if you do not agree to the
                  revised terms and conditions, you must stop using our website.</p>
              </li>
              <li>
                <p>If you have given your express agreement to these terms and conditions, we will ask for your express agreement
                  to any revision of these terms and conditions; and if you do not give your express agreement to the revised
                  terms and conditions within such period as we may specify, we will disable or delete your account on the
                  website, and you must stop using the website.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Assignment</b>
            <ol>
              <li>
                <p>You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations
                  under these terms and conditions.</p>
              </li>
              <li>
                <p>You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of
                  your rights and/or obligations under these terms and conditions.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Severability</b>
            <ol>
              <li>
                <p>If a provision of these terms and conditions is determined by any court or other competent authority to be
                  unlawful and/or unenforceable, the other provisions will continue in effect.</p>
              </li>
              <li>
                <p>If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable
                  if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue
                  in effect.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Third party rights</b>
            <ol>
              <li>
                <p>A contract under these terms and conditions is for our benefit and your benefit, and is not intended to benefit
                  or be enforceable by any third party.</p>
              </li>
              <li>
                <p>The exercise of the parties' rights under a contract under these terms and conditions is not subject to the
                  consent of any third party.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Entire agreement</b>
            <ol>
              <li>
                <p>Subject to Section 12.1, these terms and conditions, together with our privacy policy, shall constitute the
                  entire agreement between you and us in relation to your use of our website and shall supersede all previous
                  agreements between you and us in relation to your use of our website.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Law and jurisdiction</b>
            <ol>
              <li>
                <p>These terms and conditions shall be governed by and construed in accordance with Singapore laws.</p>
              </li>
              <li>
                <p>Any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the courts
                  of Singapore.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Our details</b>
            <ol>
              <li>
                <p>You can contact us:
                  <ol type="a">
                    <li>by using our website contact form;</li>
                  </ol>
                </p>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
    <!-- .container -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import FooterView from '~/components/FooterView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';

export default {
  // Components
  components: {
    FooterView,
    NavigationBarView
  }
}
</script>